@import url(https://fonts.googleapis.com/css?family=Titan+One);
/* BODY */
.cabecera {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-color: #3299FF !important;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
}

#Pedidos {
    color:black !important;
}

#Pedidos h1,h2,h3,h4,h5,p {
    color: black !important;
}


.visible {
    display: block !important;
    left: 0 !important;
    top: 0 !important;
    margin:5% !important;
}

.invisible {
    display: none !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin: 5% !important;
}




#construccion {
    display: none !important;
}


::selection {
    background: transparent;
}
/* CLOUDS */
.cabecera:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-radius: 100%;
    background: #1919ff;
    display: block;
}

.arrow-down {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3299FF;
}

/* JUMP */
.titulo {
    cursor: default;
    position: relative;
    top: 30px;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* height: 100px; */
    margin: auto;
    PADDING: 50px;
    display: block;
    -webkit-animation: bounce 1s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 80px;
    color: #FFF;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
    100% {
        top: -30px;
        text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 30px 30px rgba(0, 0, 0, .3);
    }
}

.loginDiv{
    margin-top: 5% !important;
    text-align: center !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100 !important;
    font-family: Titan One !important;
}

@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        margin: 2% !important;
    }
}
    @media (max-width: 768px) {

    }