
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/CustomBootstrap.js"></script>
    <link rel="stylesheet" href="~/Scripts/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/contact.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script src="~/Scripts/tablaGestion.js"></script>

</head>
<body>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Hacer Pedido</button>
        <p id="pedidoHecho"></p>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Añadir nuevo pedido</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-container">
                            <table id="table1">
                                <thead id="table-head">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Stock</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Precio Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <br />
                        <button type="button" class="btn btn-default" onclick="displayResult()">Añadir producto</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="borrarTabla()" class="btn btn-default">Borrar pedido</button>
                        <button type="button" onclick="confirmarPedido()" class="btn btn-default" data-dismiss="modal">Confirmar pedido</button>   
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>